body {
  min-height: 100vh;
  border: none;
}

button {
  background-color: white;
  border: none;
}

div.bateria {
  display: grid;
  grid-template-columns: repeat(4, 1.5 fr);
  grid-template-rows: repeat(3, 2fr);
  gap: 0.05fr;
  grid-template-areas:
    "nEspacio nEspacio nCrash nRide"
    "nOpen    nSnare   nHigh  nMid"
    "nClosed  nKick    nKick  nLow";
}

button.a {
  grid-area: nCrash;
}

button.s {
  grid-area: nClosed;
}

button.d {
  grid-area: nOpen;
}

button.f {
  grid-area: nKick;
}

button.g {
  grid-area: nRide;
}

button.h {
  grid-area: nSnare;
}

button.j {
  grid-area: nHigh;
}

button.k {
  grid-area: nMid;
}

button.l {
  grid-area: nLow;
}
