* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(128, 64, 0);
}

ul {
  list-style: none;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}

li {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: large;
  color: rgb(6, 0, 113);
  border: none;
  background-position: center;
  /* background-color: transparent; */
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 2px solid black; */
  border-radius: 25px;
  text-align: center;
  background-color: rgb(150, 50, 60);
}

.a {
  background-image: url(/imagenes/crash.png);
}

.s {
  background-image: url(/imagenes/openHihat.png);
}

.d {
  background-image: url(/imagenes/closeHihat.png);
}

.f {
  background-image: url(/imagenes/kick.png);
}

.g {
  background-image: url(/imagenes/ride.png);
}

.h {
  background-image: url(/imagenes/snare.png);
}

.j {
  background-image: url(/imagenes/tomGrandecito.png);
}

.k {
  background-image: url(/imagenes/tom.png);
}

.l {
  background-image: url(/imagenes/tomMediano.png);
}

.record {
  background-image: url(/imagenes/record.png);
}

.stopRecord {
  background-image: url(/imagenes/stopRecord.png);
}

.play {
  background-image: url(/imagenes/play.png);
}

.pause {
  background-image: url(/imagenes/pausa.png);
}

.extraInfo {
  background-image: url(/imagenes/panas.png);
}

li.animation {
  animation-name: barrelroll;
  animation-duration: 0.05s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes barrelroll {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75);
  }
}
